/*
=================
	Paddings
=================
*/
.no-pd {padding: 0 !important;} .no-pdb {padding-bottom: 0;} .no-pdl {padding-left: 0;} .no-pdr {padding-right: 0;} .no-pdlr {padding-right: 0; padding-left: 0;}
.pd10 {padding: 10;} .pd15 {padding: 15px;} .pd20 {padding: 20px;} .pd25 {padding: 25px;} .pd30 {padding: 30px;} .pd40 {padding: 40px;} .pd50 {padding: 50px;} .pd60 {padding: 60px;} .pd80 {padding: 80px;} .pd100 {padding: 100px;}
.pdl10 {padding-left: 10px; } .pdl15 {padding-left: 15px; } .pdl20 {padding-left: 20px; } .pdl30 {padding-left: 30px; } .pdl40 {padding-left: 40px; } .pdl50 {padding-left: 50px; } .pdl60 {padding-left: 60px; } .pdl80 {padding-left: 80px; } .pdl100 {padding-left: 100px; }
.pdr10 {padding-right: 10px; } .pdr15 {padding-right: 15px; } .pdr20 {padding-right: 20px; } .pdr30 {padding-right: 30px; } .pdr40 {padding-right: 40px; } .pdr50 {padding-right: 50px; } .pdr60 {padding-right: 60px; } .pdr80 {padding-right: 80px; } .pdr100 {padding-right: 100px; }
.pdb10 {padding-bottom: 10px; } .pdb15 {padding-bottom: 15px; } .pdb20 {padding-bottom: 20px; } .pdb30 {padding-bottom: 30px; } .pdb40 {padding-bottom: 40px; } .pdb50 {padding-bottom: 50px; } .pdb60 {padding-bottom: 60px; } .pdb80 {padding-bottom: 80px; } .pdb100 {padding-bottom: 100px; }
.pdt10 {padding-top: 10px; } .pdt15 {padding-top: 15px; } .pdt20 {padding-top: 20px; } .pdt30 {padding-top: 30px; } .pdt40 {padding-top: 40px; } .pdt50 {padding-top: 50px; } .pdt60 {padding-top: 60px; } .pdt80 {padding-top: 80px; } .pdt100 {padding-top: 100px; }
.pdlr15 {padding-left: 15px; padding-right: 15px;}
/*
=================
	Margins
=================
*/
.no-mg {margin: 0;} .no-mgl {margin-left: 0;} .no-mgr {margin-right: 0;} .no-mglr {margin-left: 0; margin-right: 0;}
.mg10 {margin: 10px} .mg15 {margin: 15px;}
.mgl10 {margin-left: 10px; } .mgl15 {margin-left: 15px; } .mgl20 {margin-left: 20px; } .mgl30 {margin-left: 30px; } .mgl40 {margin-left: 40px; } .mgl50 {margin-left: 50px; } .mgl60 {margin-left: 60px; } .mgl80 {margin-left: 80px; } .mgl100 {margin-left: 100px; }
.mgr10 {margin-right: 10px; } .mgr15 {margin-right: 15px; } .mgr20 {margin-right: 20px; } .mgr30 {margin-right: 30px; } .mgr40 {margin-right: 40px; } .mgr50 {margin-right: 50px; } .mgr60 {margin-right: 60px; } .mgr80 {margin-right: 80px; } .mgr100 {margin-right: 100px; }
.mgb10 {margin-bottom: 10px; } .mgb15 {margin-bottom: 15px; } .mgb20 {margin-bottom: 20px; } .mgb30 {margin-bottom: 30px; } .mgb40 {margin-bottom: 40px; } .mgb50 {margin-bottom: 50px; } .mgb60 {margin-bottom: 60px; } .mgb80 {margin-bottom: 80px; } .mgb100 {margin-bottom: 100px; }
.mgt10 {margin-top: 10px; } .mgt15 {margin-top: 15px; } .mgt20 {margin-top: 20px; } .mgt30 {margin-top: 30px; } .mgt40 {margin-top: 40px; } .mgt50 {margin-top: 50px; } .mgt60 {margin-top: 60px; } .mgt80 {margin-top: 80px; } .mgt100 {margin-top: 100px; }
.mglr15 {margin-left: 15px; margin-right: 15px;} .mglr-15 {margin-left: -15px; margin-right: -15px;}


html{
    height: 100%
}

body {
    position: relative;  
    font-family: 'Raleway', sans-serif !important;    
    background-image: url("/assets/img/background.webp");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100%;
}

#root{
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 100px; /* height of your footer */
}
  
.contentWrapper{
    min-height: 100%; 
    margin-bottom: 70px   
}

.container{
    width: 95%
}

.nav{
    list-style: none;
}
/** Footer **/
.footer-bottom {
    position:absolute;
    width: 100%;
    bottom:0;
    min-height: 20px;
    margin-top: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #a5a3a3;
}

.copyright {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
    text-align: center;    
}
.design {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
    text-align: center;
}
.design a {
    color: #fff;
}

.form-min-height {
    min-height: 104px;
}

.userForm{
    padding: 0 10px 0 10px
}

.avatar {
    vertical-align: baseline;
}

#restrictedMainSection {
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    background: white;
    margin-top: 20px;
}

table.table {
    margin-bottom: 0;
}

.react-input-error::-webkit-input-placeholder {
    color: #f44336;
}
.react-input-error:-moz-placeholder {
    color: #f44336;
    opacity: 1;
}
.react-input-error::-moz-placeholder {
    color: #f44336;
    opacity: 1;
}
.react-input-error:-ms-input-placeholder {
    color: #f44336;
}
.react-input-error:focus {
    border: 1px #f44336 solid;
    background: #f2dede;
}

.form-group {
    padding-left: 10px;
    padding-right: 20px;
}

h1 {
    font-size: 30px;
}

h1 i.glyphicon {
    font-size: 25px;
}

.breadcrumb {
    background: none;
    margin-bottom: 0;
    font-weight: 600;
}


.breadcrumb>li+li:before { content: "\232A\00a0";}


.box-login {
    background: #fff;
    padding: 30px 15px;
    margin-top: 50px;
    border-top: 4px solid #A53693;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);   
}

.panel-box{
    min-height: 210px;
}

.panel-color-1 {
    background: #62b4b5;
}

.panel-color-1:hover {
    background: #73bcbd;
}

.panel-color-2 {
    background: #9e9e9e;
}

.panel-color-2:hover {
    background: #ababab;
}

.panel-color-3 {
    background: #A53693;
}

.panel-color-3:hover {
    background: #5f5f60;
}

.panel-color {
    color: white;
    padding: 20px 15px 0px 15px;
}

.panel-boxes a {
    text-decoration: none;
}

.glyphicon-2x{font-size: 2em;}

.glyphicon-3x{font-size: 3em;}

.glyphicon-4x{font-size: 4em;}

.glyphicon-5x{font-size: 5em;}
    @media only screen and (min-width: 768px){
        .uppy-Dashboard-inner { 
            width: 100% !important
        }
    }

hr.login{
    margin-top: 10px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #2c404d3d;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    -webkit-text-fill-color:  #2f566fa1 !important;
}

.position-relative{
    position: relative;
}

.input-label{
    font-size: 13px;
    font-weight: 700;
    color: rgb(82, 82, 83);
    line-height: "22px";
}

/* ---------------------- New CSS added by Enjoy the run team :) ----------------------*/
.addStyle{
    color: #A53693;
    font-size: 14px;
    text-decoration: underline;
    text-align: right;
}
.addStyle:hover{
    cursor: pointer;
    color: rgb(133, 19, 114); ;
}

.removStyle{
    color: #A53693;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
    font-size: 18px;
}
.removStyle:hover{
    cursor: pointer;
    color: rgb(133, 19, 114); 
}

.textAreaSize{
    width: 100%;
    height: 150px;
}

.planilha {
    font-family: arial, sans-serif;
    border-collapse: separate;
    width: 100%;
  }

.semana { 
  border: 1px solid #A53693;
  font-size: 22px;
  padding: 8px;
  text-align: center;
  border-bottom: black;
  color: #A53693;
  font-size: 25px;
}


.treino:nth-child(even) {
  background-color: #dbbcda;
  padding: 5px;
}
.trAdd{
    -o-transition:.2s;
    -ms-transition:.2s;
    -moz-transition:.2s;
    -webkit-transition:.2s;
    transition:.2s;
}
.trAdd:hover{
    background-color: #eee !important; 
}

 .modalTitulo{
     text-align: center;
     margin-top: 0px;
     color: white;
     transform: translateY(50%);
 }

 .modalText{
    font-weight: 500;
}

 #modalDiv{
    background-color: #A53693;
    height: 60px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-color: #A53693;
 }

 .imgText{
    margin-left: 5%;
    position: relative;
    width: 60%;
    display: -webkit-box;
    float: left;

 }

.img{

    width: 30px;
    margin-left: 5%;

 }